/** GRID **/

$prefix: '%' !default;

$space: 30px !default;
$grid: 5% !default;

@mixin calc($property, $value, $gridSpace: $space) { 
    #{$property}: unquote("-moz-calc(")$value unquote("-")$gridSpace unquote(")");
    #{$property}: unquote("-o-calc(")$value unquote("-")$gridSpace unquote(")");
    #{$property}: unquote("-webkit-calc(")$value unquote("-")$gridSpace unquote(")");
    #{$property}: unquote("calc(")$value unquote("-")$gridSpace unquote(")");
} 

@mixin grid($name, $force){

    $name: 'grid' !default;
    $gridCount: 20;
    %#{$name} {
        float: left;
        margin: $space/2;
    }
    @while $gridCount>0 {
        #{$prefix}#{$name}-#{$gridCount} {
            @extend %#{$name};
            @include calc(width,$grid*$gridCount);
        }
        $gridCount: $gridCount - 1
    }
    #{$prefix}#{$name}-full{
        @extend #{$prefix}#{$name}-20;
    }
    #{$prefix}#{$name}-half {
        @extend #{$prefix}#{$name}-10;
    }
    #{$prefix}#{$name}-third {
        @extend %#{$name};
        @include calc(width,33.33%);
    }
    #{$prefix}#{$name}-fourth {
        @extend #{$prefix}#{$name}-5;
    }
    #{$prefix}#{$name}-fifth {
        @extend #{$prefix}#{$name}-4;
    }
}


%bodySnapWidth {
    max-width: 1200px;
}

//Flush Grid
%flush {
    float: left;
}
$flushCount: 20;
@while $flushCount>0 {
    #{$prefix}flush-#{$flushCount} {
        @extend %flush;
        width: $grid*$flushCount;
    }
    $flushCount: $flushCount - 1
}
#{$prefix}flush-full{
    @extend #{$prefix}flush-20;
}
#{$prefix}flush-half {
    @extend #{$prefix}flush-10;
}
#{$prefix}flush-third {
    @extend %flush;
    width: 33.33%;
}
#{$prefix}flush-fourth {
    @extend #{$prefix}flush-5;
}
#{$prefix}flush-fifth {
    @extend #{$prefix}flush-4;
}

@media (min-width: 1200px) {
    html {
        font-size: 16px !important;
    }
    #{$prefix}no-large {
        display: none !important;
    }
    @include grid('large',true);
}
@media (min-width:980px) {
    #{$prefix}no-desktop {
        display: none !important;
    }
}
@include grid('grid',true);
@media (max-width: 979px)  {
    html {
        font-size: 12px !important;
    }
    #{$prefix}no-tablet {
        display: none !important;
    }
    @include grid('tablet',true);
}
@media (max-width: 767px) {
    html {
        font-size: 10px !important;
    }
    #{$prefix}no-mobile {
        display: none !important;
    }
    @include grid('mobile',true);
}