
# DIRECTORY
.sass-cache
node_modules
public/js/*.js
public/ng/*.js
public/css

# FILE TYPE
*.log
*.scssc
*.m4a
*.m4v
*.pdf
*.psd
*.zip
*.doc
*.ejs
*.ts
*.zip
*.psd
*.tif

# SPECIFIC FILE
.bowerc
.DS_Store
dwsync.xml
build.json
public/index.html

# CUSTOM