/** GRID **/
.flush-20, .flush-full, .flush-19, .flush-18, .flush-17, .flush-16, .flush-15, .flush-14, .flush-13, .flush-12, .flush-11, .flush-10, .flush-half, .flush-9, .flush-8, .flush-7, .flush-6, .flush-5, .flush-fourth, .flush-4, .flush-fifth, .flush-3, .flush-2, .flush-1, .flush-third { float: left; }

.flush-20, .flush-full { width: 100%; }

.flush-19 { width: 95%; }

.flush-18 { width: 90%; }

.flush-17 { width: 85%; }

.flush-16 { width: 80%; }

.flush-15 { width: 75%; }

.flush-14 { width: 70%; }

.flush-13 { width: 65%; }

.flush-12 { width: 60%; }

.flush-11 { width: 55%; }

.flush-10, .flush-half { width: 50%; }

.flush-9 { width: 45%; }

.flush-8 { width: 40%; }

.flush-7 { width: 35%; }

.flush-6 { width: 30%; }

.flush-5, .flush-fourth { width: 25%; }

.flush-4, .flush-fifth { width: 20%; }

.flush-3 { width: 15%; }

.flush-2 { width: 10%; }

.flush-1 { width: 5%; }

.flush-third { width: 33.33%; }

@media (min-width: 1200px) { html { font-size: 16px !important; }
  .no-large { display: none !important; }
  .large-20, .large-full, .large-19, .large-18, .large-17, .large-16, .large-15, .large-14, .large-13, .large-12, .large-11, .large-10, .large-half, .large-9, .large-8, .large-7, .large-6, .large-5, .large-fourth, .large-4, .large-fifth, .large-3, .large-2, .large-1, .large-third { float: left; margin: 15px; }
  .large-20, .large-full { width: -moz-calc( 100% - 30px ); width: -o-calc( 100% - 30px ); width: -webkit-calc( 100% - 30px ); width: calc( 100% - 30px ); }
  .large-19 { width: -moz-calc( 95% - 30px ); width: -o-calc( 95% - 30px ); width: -webkit-calc( 95% - 30px ); width: calc( 95% - 30px ); }
  .large-18 { width: -moz-calc( 90% - 30px ); width: -o-calc( 90% - 30px ); width: -webkit-calc( 90% - 30px ); width: calc( 90% - 30px ); }
  .large-17 { width: -moz-calc( 85% - 30px ); width: -o-calc( 85% - 30px ); width: -webkit-calc( 85% - 30px ); width: calc( 85% - 30px ); }
  .large-16 { width: -moz-calc( 80% - 30px ); width: -o-calc( 80% - 30px ); width: -webkit-calc( 80% - 30px ); width: calc( 80% - 30px ); }
  .large-15 { width: -moz-calc( 75% - 30px ); width: -o-calc( 75% - 30px ); width: -webkit-calc( 75% - 30px ); width: calc( 75% - 30px ); }
  .large-14 { width: -moz-calc( 70% - 30px ); width: -o-calc( 70% - 30px ); width: -webkit-calc( 70% - 30px ); width: calc( 70% - 30px ); }
  .large-13 { width: -moz-calc( 65% - 30px ); width: -o-calc( 65% - 30px ); width: -webkit-calc( 65% - 30px ); width: calc( 65% - 30px ); }
  .large-12 { width: -moz-calc( 60% - 30px ); width: -o-calc( 60% - 30px ); width: -webkit-calc( 60% - 30px ); width: calc( 60% - 30px ); }
  .large-11 { width: -moz-calc( 55% - 30px ); width: -o-calc( 55% - 30px ); width: -webkit-calc( 55% - 30px ); width: calc( 55% - 30px ); }
  .large-10, .large-half { width: -moz-calc( 50% - 30px ); width: -o-calc( 50% - 30px ); width: -webkit-calc( 50% - 30px ); width: calc( 50% - 30px ); }
  .large-9 { width: -moz-calc( 45% - 30px ); width: -o-calc( 45% - 30px ); width: -webkit-calc( 45% - 30px ); width: calc( 45% - 30px ); }
  .large-8 { width: -moz-calc( 40% - 30px ); width: -o-calc( 40% - 30px ); width: -webkit-calc( 40% - 30px ); width: calc( 40% - 30px ); }
  .large-7 { width: -moz-calc( 35% - 30px ); width: -o-calc( 35% - 30px ); width: -webkit-calc( 35% - 30px ); width: calc( 35% - 30px ); }
  .large-6 { width: -moz-calc( 30% - 30px ); width: -o-calc( 30% - 30px ); width: -webkit-calc( 30% - 30px ); width: calc( 30% - 30px ); }
  .large-5, .large-fourth { width: -moz-calc( 25% - 30px ); width: -o-calc( 25% - 30px ); width: -webkit-calc( 25% - 30px ); width: calc( 25% - 30px ); }
  .large-4, .large-fifth { width: -moz-calc( 20% - 30px ); width: -o-calc( 20% - 30px ); width: -webkit-calc( 20% - 30px ); width: calc( 20% - 30px ); }
  .large-3 { width: -moz-calc( 15% - 30px ); width: -o-calc( 15% - 30px ); width: -webkit-calc( 15% - 30px ); width: calc( 15% - 30px ); }
  .large-2 { width: -moz-calc( 10% - 30px ); width: -o-calc( 10% - 30px ); width: -webkit-calc( 10% - 30px ); width: calc( 10% - 30px ); }
  .large-1 { width: -moz-calc( 5% - 30px ); width: -o-calc( 5% - 30px ); width: -webkit-calc( 5% - 30px ); width: calc( 5% - 30px ); }
  .large-third { width: -moz-calc( 33.33% - 30px ); width: -o-calc( 33.33% - 30px ); width: -webkit-calc( 33.33% - 30px ); width: calc( 33.33% - 30px ); } }
@media (min-width: 980px) { .no-desktop { display: none !important; } }
.grid-20, .grid-full, h1, h2, h3, h4, h5, h6, p, .grid-19, .grid-18, .grid-17, .grid-16, .grid-15, .grid-14, .grid-13, .grid-12, .grid-11, .grid-10, .grid-half, .grid-9, .grid-8, .grid-7, .grid-6, .grid-5, .grid-fourth, .grid-4, .grid-fifth, .grid-3, .grid-2, .grid-1, .grid-third, #portfolio > a { float: left; margin: 15px; }

.grid-20, .grid-full, h1, h2, h3, h4, h5, h6, p { width: -moz-calc( 100% - 30px ); width: -o-calc( 100% - 30px ); width: -webkit-calc( 100% - 30px ); width: calc( 100% - 30px ); }

.grid-19 { width: -moz-calc( 95% - 30px ); width: -o-calc( 95% - 30px ); width: -webkit-calc( 95% - 30px ); width: calc( 95% - 30px ); }

.grid-18 { width: -moz-calc( 90% - 30px ); width: -o-calc( 90% - 30px ); width: -webkit-calc( 90% - 30px ); width: calc( 90% - 30px ); }

.grid-17 { width: -moz-calc( 85% - 30px ); width: -o-calc( 85% - 30px ); width: -webkit-calc( 85% - 30px ); width: calc( 85% - 30px ); }

.grid-16 { width: -moz-calc( 80% - 30px ); width: -o-calc( 80% - 30px ); width: -webkit-calc( 80% - 30px ); width: calc( 80% - 30px ); }

.grid-15 { width: -moz-calc( 75% - 30px ); width: -o-calc( 75% - 30px ); width: -webkit-calc( 75% - 30px ); width: calc( 75% - 30px ); }

.grid-14 { width: -moz-calc( 70% - 30px ); width: -o-calc( 70% - 30px ); width: -webkit-calc( 70% - 30px ); width: calc( 70% - 30px ); }

.grid-13 { width: -moz-calc( 65% - 30px ); width: -o-calc( 65% - 30px ); width: -webkit-calc( 65% - 30px ); width: calc( 65% - 30px ); }

.grid-12 { width: -moz-calc( 60% - 30px ); width: -o-calc( 60% - 30px ); width: -webkit-calc( 60% - 30px ); width: calc( 60% - 30px ); }

.grid-11 { width: -moz-calc( 55% - 30px ); width: -o-calc( 55% - 30px ); width: -webkit-calc( 55% - 30px ); width: calc( 55% - 30px ); }

.grid-10, .grid-half { width: -moz-calc( 50% - 30px ); width: -o-calc( 50% - 30px ); width: -webkit-calc( 50% - 30px ); width: calc( 50% - 30px ); }

.grid-9 { width: -moz-calc( 45% - 30px ); width: -o-calc( 45% - 30px ); width: -webkit-calc( 45% - 30px ); width: calc( 45% - 30px ); }

.grid-8 { width: -moz-calc( 40% - 30px ); width: -o-calc( 40% - 30px ); width: -webkit-calc( 40% - 30px ); width: calc( 40% - 30px ); }

.grid-7 { width: -moz-calc( 35% - 30px ); width: -o-calc( 35% - 30px ); width: -webkit-calc( 35% - 30px ); width: calc( 35% - 30px ); }

.grid-6 { width: -moz-calc( 30% - 30px ); width: -o-calc( 30% - 30px ); width: -webkit-calc( 30% - 30px ); width: calc( 30% - 30px ); }

.grid-5, .grid-fourth { width: -moz-calc( 25% - 30px ); width: -o-calc( 25% - 30px ); width: -webkit-calc( 25% - 30px ); width: calc( 25% - 30px ); }

.grid-4, .grid-fifth { width: -moz-calc( 20% - 30px ); width: -o-calc( 20% - 30px ); width: -webkit-calc( 20% - 30px ); width: calc( 20% - 30px ); }

.grid-3 { width: -moz-calc( 15% - 30px ); width: -o-calc( 15% - 30px ); width: -webkit-calc( 15% - 30px ); width: calc( 15% - 30px ); }

.grid-2 { width: -moz-calc( 10% - 30px ); width: -o-calc( 10% - 30px ); width: -webkit-calc( 10% - 30px ); width: calc( 10% - 30px ); }

.grid-1 { width: -moz-calc( 5% - 30px ); width: -o-calc( 5% - 30px ); width: -webkit-calc( 5% - 30px ); width: calc( 5% - 30px ); }

.grid-third, #portfolio > a { width: -moz-calc( 33.33% - 30px ); width: -o-calc( 33.33% - 30px ); width: -webkit-calc( 33.33% - 30px ); width: calc( 33.33% - 30px ); }

@media (max-width: 979px) { html { font-size: 12px !important; }
  .no-tablet { display: none !important; }
  .tablet-20, .tablet-full, .tablet-19, .tablet-18, .tablet-17, .tablet-16, .tablet-15, .tablet-14, .tablet-13, .tablet-12, .tablet-11, .tablet-10, .tablet-half, .tablet-9, .tablet-8, .tablet-7, .tablet-6, .tablet-5, .tablet-fourth, .tablet-4, .tablet-fifth, .tablet-3, .tablet-2, .tablet-1, .tablet-third { float: left; margin: 15px; }
  .tablet-20, .tablet-full { width: -moz-calc( 100% - 30px ); width: -o-calc( 100% - 30px ); width: -webkit-calc( 100% - 30px ); width: calc( 100% - 30px ); }
  .tablet-19 { width: -moz-calc( 95% - 30px ); width: -o-calc( 95% - 30px ); width: -webkit-calc( 95% - 30px ); width: calc( 95% - 30px ); }
  .tablet-18 { width: -moz-calc( 90% - 30px ); width: -o-calc( 90% - 30px ); width: -webkit-calc( 90% - 30px ); width: calc( 90% - 30px ); }
  .tablet-17 { width: -moz-calc( 85% - 30px ); width: -o-calc( 85% - 30px ); width: -webkit-calc( 85% - 30px ); width: calc( 85% - 30px ); }
  .tablet-16 { width: -moz-calc( 80% - 30px ); width: -o-calc( 80% - 30px ); width: -webkit-calc( 80% - 30px ); width: calc( 80% - 30px ); }
  .tablet-15 { width: -moz-calc( 75% - 30px ); width: -o-calc( 75% - 30px ); width: -webkit-calc( 75% - 30px ); width: calc( 75% - 30px ); }
  .tablet-14 { width: -moz-calc( 70% - 30px ); width: -o-calc( 70% - 30px ); width: -webkit-calc( 70% - 30px ); width: calc( 70% - 30px ); }
  .tablet-13 { width: -moz-calc( 65% - 30px ); width: -o-calc( 65% - 30px ); width: -webkit-calc( 65% - 30px ); width: calc( 65% - 30px ); }
  .tablet-12 { width: -moz-calc( 60% - 30px ); width: -o-calc( 60% - 30px ); width: -webkit-calc( 60% - 30px ); width: calc( 60% - 30px ); }
  .tablet-11 { width: -moz-calc( 55% - 30px ); width: -o-calc( 55% - 30px ); width: -webkit-calc( 55% - 30px ); width: calc( 55% - 30px ); }
  .tablet-10, .tablet-half { width: -moz-calc( 50% - 30px ); width: -o-calc( 50% - 30px ); width: -webkit-calc( 50% - 30px ); width: calc( 50% - 30px ); }
  .tablet-9 { width: -moz-calc( 45% - 30px ); width: -o-calc( 45% - 30px ); width: -webkit-calc( 45% - 30px ); width: calc( 45% - 30px ); }
  .tablet-8 { width: -moz-calc( 40% - 30px ); width: -o-calc( 40% - 30px ); width: -webkit-calc( 40% - 30px ); width: calc( 40% - 30px ); }
  .tablet-7 { width: -moz-calc( 35% - 30px ); width: -o-calc( 35% - 30px ); width: -webkit-calc( 35% - 30px ); width: calc( 35% - 30px ); }
  .tablet-6 { width: -moz-calc( 30% - 30px ); width: -o-calc( 30% - 30px ); width: -webkit-calc( 30% - 30px ); width: calc( 30% - 30px ); }
  .tablet-5, .tablet-fourth { width: -moz-calc( 25% - 30px ); width: -o-calc( 25% - 30px ); width: -webkit-calc( 25% - 30px ); width: calc( 25% - 30px ); }
  .tablet-4, .tablet-fifth { width: -moz-calc( 20% - 30px ); width: -o-calc( 20% - 30px ); width: -webkit-calc( 20% - 30px ); width: calc( 20% - 30px ); }
  .tablet-3 { width: -moz-calc( 15% - 30px ); width: -o-calc( 15% - 30px ); width: -webkit-calc( 15% - 30px ); width: calc( 15% - 30px ); }
  .tablet-2 { width: -moz-calc( 10% - 30px ); width: -o-calc( 10% - 30px ); width: -webkit-calc( 10% - 30px ); width: calc( 10% - 30px ); }
  .tablet-1 { width: -moz-calc( 5% - 30px ); width: -o-calc( 5% - 30px ); width: -webkit-calc( 5% - 30px ); width: calc( 5% - 30px ); }
  .tablet-third { width: -moz-calc( 33.33% - 30px ); width: -o-calc( 33.33% - 30px ); width: -webkit-calc( 33.33% - 30px ); width: calc( 33.33% - 30px ); } }
@media (max-width: 767px) { html { font-size: 10px !important; }
  .no-mobile { display: none !important; }
  .mobile-20, .mobile-full, #portfolio > a, .mobile-19, .mobile-18, .mobile-17, .mobile-16, .mobile-15, .mobile-14, .mobile-13, .mobile-12, .mobile-11, .mobile-10, .mobile-half, .mobile-9, .mobile-8, .mobile-7, .mobile-6, .mobile-5, .mobile-fourth, .mobile-4, .mobile-fifth, .mobile-3, .mobile-2, .mobile-1, .mobile-third { float: left; margin: 15px; }
  .mobile-20, .mobile-full, #portfolio > a { width: -moz-calc( 100% - 30px ); width: -o-calc( 100% - 30px ); width: -webkit-calc( 100% - 30px ); width: calc( 100% - 30px ); }
  .mobile-19 { width: -moz-calc( 95% - 30px ); width: -o-calc( 95% - 30px ); width: -webkit-calc( 95% - 30px ); width: calc( 95% - 30px ); }
  .mobile-18 { width: -moz-calc( 90% - 30px ); width: -o-calc( 90% - 30px ); width: -webkit-calc( 90% - 30px ); width: calc( 90% - 30px ); }
  .mobile-17 { width: -moz-calc( 85% - 30px ); width: -o-calc( 85% - 30px ); width: -webkit-calc( 85% - 30px ); width: calc( 85% - 30px ); }
  .mobile-16 { width: -moz-calc( 80% - 30px ); width: -o-calc( 80% - 30px ); width: -webkit-calc( 80% - 30px ); width: calc( 80% - 30px ); }
  .mobile-15 { width: -moz-calc( 75% - 30px ); width: -o-calc( 75% - 30px ); width: -webkit-calc( 75% - 30px ); width: calc( 75% - 30px ); }
  .mobile-14 { width: -moz-calc( 70% - 30px ); width: -o-calc( 70% - 30px ); width: -webkit-calc( 70% - 30px ); width: calc( 70% - 30px ); }
  .mobile-13 { width: -moz-calc( 65% - 30px ); width: -o-calc( 65% - 30px ); width: -webkit-calc( 65% - 30px ); width: calc( 65% - 30px ); }
  .mobile-12 { width: -moz-calc( 60% - 30px ); width: -o-calc( 60% - 30px ); width: -webkit-calc( 60% - 30px ); width: calc( 60% - 30px ); }
  .mobile-11 { width: -moz-calc( 55% - 30px ); width: -o-calc( 55% - 30px ); width: -webkit-calc( 55% - 30px ); width: calc( 55% - 30px ); }
  .mobile-10, .mobile-half { width: -moz-calc( 50% - 30px ); width: -o-calc( 50% - 30px ); width: -webkit-calc( 50% - 30px ); width: calc( 50% - 30px ); }
  .mobile-9 { width: -moz-calc( 45% - 30px ); width: -o-calc( 45% - 30px ); width: -webkit-calc( 45% - 30px ); width: calc( 45% - 30px ); }
  .mobile-8 { width: -moz-calc( 40% - 30px ); width: -o-calc( 40% - 30px ); width: -webkit-calc( 40% - 30px ); width: calc( 40% - 30px ); }
  .mobile-7 { width: -moz-calc( 35% - 30px ); width: -o-calc( 35% - 30px ); width: -webkit-calc( 35% - 30px ); width: calc( 35% - 30px ); }
  .mobile-6 { width: -moz-calc( 30% - 30px ); width: -o-calc( 30% - 30px ); width: -webkit-calc( 30% - 30px ); width: calc( 30% - 30px ); }
  .mobile-5, .mobile-fourth { width: -moz-calc( 25% - 30px ); width: -o-calc( 25% - 30px ); width: -webkit-calc( 25% - 30px ); width: calc( 25% - 30px ); }
  .mobile-4, .mobile-fifth { width: -moz-calc( 20% - 30px ); width: -o-calc( 20% - 30px ); width: -webkit-calc( 20% - 30px ); width: calc( 20% - 30px ); }
  .mobile-3 { width: -moz-calc( 15% - 30px ); width: -o-calc( 15% - 30px ); width: -webkit-calc( 15% - 30px ); width: calc( 15% - 30px ); }
  .mobile-2 { width: -moz-calc( 10% - 30px ); width: -o-calc( 10% - 30px ); width: -webkit-calc( 10% - 30px ); width: calc( 10% - 30px ); }
  .mobile-1 { width: -moz-calc( 5% - 30px ); width: -o-calc( 5% - 30px ); width: -webkit-calc( 5% - 30px ); width: calc( 5% - 30px ); }
  .mobile-third { width: -moz-calc( 33.33% - 30px ); width: -o-calc( 33.33% - 30px ); width: -webkit-calc( 33.33% - 30px ); width: calc( 33.33% - 30px ); } }
.drag, .drag a { -webkit-user-select: initial; -webkit-user-drag: initial; -ms-user-select: initial; user-select: initial; draggable: initial; }

*, :before, :after { -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-user-select: none; -webkit-user-drag: none; -ms-user-select: none; user-select: none; draggable: none; }

html { font-size: 14px; line-height: 1.4em; font-family: 'Roboto', sans-serif; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; }

body { -webkit-transition: background-image 500ms ease-in-out; -moz-transition: background-image 500ms ease-in-out; -o-transition: background-image 500ms ease-in-out; -ms-transition: background-image 500ms ease-in-out; transition: background-image 500ms ease-in-out; margin: 0; background-color: #000; background-image: url(/img/blank.gif); background-size: 1600px 1192px; background-position: 50% 0; background-repeat: no-repeat; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; }
@media (min-width: 768px) { body { background-attachment: fixed; } }

a { color: #518f24; text-decoration: none; }
a:hover { color: #90d65c; text-decoration: underline; }

#nav { background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, transparent 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, transparent)); background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, transparent 100%); background: -o-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, transparent 100%); background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, transparent 100%); background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, transparent 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); }

#bodyContent { float: left; }

#bodyContent { background-color: rgba(255, 255, 255, 0.9); padding: 1.07142857em; }

.p { padding: 1.07142857em; }

.m { margin: 1.07142857em; }

.ml { margin-left: 1.07142857em; }

.no-p { padding: 0 !important; }

.no-m { margin: 0 !important; }

.no-mt { margin-top: 0 !important; }

.no-mb { margin-bottom: 0 !important; }

[data-stellar-ratio] { position: relative; }

.c { clear: both; }

h1, h2, h3, h4, h5, h6 { line-height: 1.2em; }

h1 { font-size: 3.57142857em; }

h2 { font-size: 2.85714286em; }

h3 { font-size: 2.14285714em; }

h4 { font-size: 1.42857143em; }

h5 { font-size: 1.14285714em; color: gray; }

h6 { font-size: 1em; color: gray; }

.tr, .contact li > a:before { text-align: right; }

.fl { float: left; }

p { margin-bottom: 0; }

.textWhite { color: #fff !important; }

.ts { text-shadow: 1px 1px 2px #000; }

#languages, #programs { text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5); float: left; width: 100%; padding: 0; margin: 0; }
#languages > li, #programs > li { padding: 1.07142857em; margin-bottom: 0.35714286em; color: #fff; list-style-type: none; width: 33%; }
#languages > li:nth-child(9), #programs > li:nth-child(9) { background-color: #5cc4d6; }
#languages > li:nth-child(8), #programs > li:nth-child(8) { background-color: #5cd6c2; }
#languages > li:nth-child(7), #programs > li:nth-child(7) { background-color: #5cd69b; }
#languages > li:nth-child(6), #programs > li:nth-child(6) { background-color: #5cd675; }
#languages > li:nth-child(5), #programs > li:nth-child(5) { background-color: #69d65c; }
#languages > li:nth-child(4), #programs > li:nth-child(4) { background-color: #90d65c; }
#languages > li:nth-child(3), #programs > li:nth-child(3) { background-color: #b6d65c; }
#languages > li:nth-child(2), #programs > li:nth-child(2) { background-color: #d6cf5c; }
#languages > li:nth-child(1), #programs > li:nth-child(1) { background-color: #d6a95c; }
#languages > li:after, #programs > li:after { float: right; font-size: 0.75em; }
#languages > li.advanced, #programs > li.advanced { width: 66%; }
#languages > li.advanced:after, #programs > li.advanced:after { content: "Advanced"; }
#languages > li.proficient, #programs > li.proficient { width: 100%; }
#languages > li.proficient:after, #programs > li.proficient:after { content: "Expert"; }

@media (min-width: 980px) { .no-desktop { display: none !important; } }
.profile { max-width: 250px; max-height: 250px; }

.contact { padding: 0; }
.contact li { list-style-type: none; margin-bottom: 7.5px; }
.contact li.cPhone > a:before { content: "Phone"; }
.contact li.cEmail > a:before { content: "E-mail"; }
.contact li.cFacebook > a:before { content: "Facebook"; }
.contact li.cTwitter > a:before { content: "Twitter"; }
.contact li.cGooglePlus > a:before { content: "Google+"; }
.contact li > a { background-color: #f0f0f0; border-radius: 0 4px 4px 0; display: block; color: #518f24; max-width: 400px; }
.contact li > a:before { text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5); padding: 0.35714286em; background-color: #74cc33; color: #fff; font-weight: bold; border-radius: 4px 0 0 4px; width: 30%; display: inline-block; margin-right: 15px; }
.contact li > a:hover { background: #d6d6d6; }
.contact li > a:hover:before { background-color: #69b72e; }

#portfolio > a { -webkit-transition: all .2s; -moz-transition: all .2s; -o-transition: all .2s; transition: all .2s; max-width: 320px; }
#portfolio > a:hover { -webkit-transform: scale(1.05, 1.05); -moz-transform: scale(1.05, 1.05); -o-transform: scale(1.05, 1.05); transform: scale(1.05, 1.05); }
#portfolio > a > img { width: 100%; }
