<div class="jumbotron resume-hero">
  <div class="container">
    <div class="resume-hero_content">
      <h1>Seth Tippetts</h1>
      <p>Senior Javascript Engineer</p>
      <a class="btn btn-primary btn-lg" href="https://github.com/SethTippetts" role="button"><i class="fa fa-github fa-lg"></i> Github</a>
      <a class="btn btn-default btn-lg" href="https://www.linkedin.com/in/seth-tippetts-24ab6266" role="button"><i class="fa fa-linkedin-square fa-lg"></i> LinkedIn</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">Experience</h1>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="media">
        <div class="media-left">
          <a href="http://www.vivintsolar.com" target="_blank">
            <img class="media-object" src="/images/company-logos/vivint-solar.jpg" alt="RC Willey Home Furnishings">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Vivint Solar</h4>
          <h5>Software Engineer</h5>
          <p>
            I lead our microservices team building new APIs to support our customer
            and salesperson facing applications. I also contribute to open source when the need arrives.
            I authored:
          </p>


          <div class="list-group">
            <a href="https://www.npmjs.com/package/tenant" class="list-group-item"><code>tenant</code> <i class="fa fa-github fa-lg pull-right"></i></a>
            <a href="https://www.npmjs.com/package/express-tenant" class="list-group-item"><code>express-tenant</code> <i class="fa fa-github fa-lg pull-right"></i></a>
            <a href="https://www.npmjs.com/package/express-waterline" class="list-group-item"><code>express-waterline</code> <i class="fa fa-github fa-lg pull-right"></i></a>
            <a href="https://www.npmjs.com/package/pool-party" class="list-group-item"><code>pool-party</code> <i class="fa fa-github fa-lg pull-right"></i></a>
          </div>

          <p>
            and have contributed to:
          </p>

          <ul>
            <li><code>stormpath</code></li>
            <li><code>saline</code></li>
            <li><code>waterline-es</code></li>
            <li><code>config-envy</code></li>
          </ul>

          <p>
            I've provided a few org-level architecture patterns that have made it to production and saved big bucks.
          </p>

        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">

      <h4>Projects</h4>

      <ul>
        <li>
          <b>Ion App</b>
          <p>
            Application for maintaining all company forms and assigning them to the correct offices
            Used internally only. Originally written in Perl, so I rewrote it in Node.js. Supports multi-tenancy
            and GraphQL, with a <i>sweet</i> AWS API Gateway REST fallback.
          </p>
        </li>
        <li>
          <b>Kobol API</b>
          <p>
            Backing API for the Apollo (NEO) sales app and several front-end lead generation sites.
            Handles all organization operations from Lead generation to CAD. Refactored to be RESTful
            and multi-tenanted.
          </p>
        </li>
        <li>
          <b>Credit Service API</b>
          <p>
            Credit Service API for internal application to credit potential customers credit worthiness. Contained
            some of our business logic for saving off definitive credit reports to Salesforce
          </p>
        </li>
        <li>
          <b>Tranching</b>
          <p>
            Tranching application to allocate investments on a per account basis. Used by the finance team.
            Thankfully because most calculations were done with exact cent amounts, we didn't have to worry
            about the restrictions of JS floats.
          </p>
        </li>
      </ul>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="media">
        <div class="media-left">
          <img class="media-object" src="/images/company-logos/wgu.jpg" alt="Western Governors University">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Western Governors University</h4>
          <h5>UI/UX Developer/Consultant</h5>
          <p>
            This was my first Angular project. Within 3 months everyone on the team was asking me their Angular questions.
            The projects were fun, got to do some crazy Google Maps implementations with fairly high-ask requirements.
            Hours of micro-optimizations later, it ran with their limitations and surpassed everyones expectations (including mine).
          </p>

          <h4>Projects</h4>
          <ul>
            <li>
              <b>To-do App</b>
              <p>Apparently they've never done a tutorial ever.)</p>
            </li>
            <li>
              <b>Student Search App</b>
              <p>
                Finding other students nationwide that have similar classes or majors.
                Had to plot and filter between 50k - 1m students on a Google Map and be "snappy"
              </p>
              <p>Still kinda proud about this one.</p>
            </li>
          </ul>

        </div>
      </div>


    </div>
    <div class="col-sm-12 col-md-6">

      <div class="media">
        <div class="media-left">
          <a href="http://www.rcwilley.com" target="_blank">
            <img class="media-object" src="/images/company-logos/rc-willey.jpg" alt="RC Willey Home Furnishings">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">RC Willey Home Furnishings</h4>
          <h5>Web Developer</h5>
          <p>
            I was actually hired out of high school to build their emails. First day on the job the
            lead engineer knew I'd be more useful in a different capacity and taught me Java. Spent the next year
            learning Java and JavaScript until I became the frontend lead.
          </p>
          <p>
            Spent the next 3 years pushing the team to new and better technology, while optimizing the user experience
            and average page load time. It was all a fun learning experience.
          </p>

          <h4>Projects</h4>
          <ul>
            <li>Complete redesign of ecommerce site.</li>
            <li>Upgrading intranet sites to match new style guide.</li>
            <li>Redirect manager and ActionController rewrite (huge speed gains on most pages)</li>
            <li>Improving PageSpeed scores for most pages into the 95+ range</li>
            <li>Optional bonus item adjustments (buy a fridge, get a TV for a discounted rate)</li>
            <li>Literally <i>every</i> Flash advertisment the company produced from 2010-2014</li>
          </ul>
        </div>
      </div>



    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h2 class="page-header">About me</h2>
    </div>
    <div class="col-sm-12 col-md-6">
      <h3>As a developer...</h3>
      <p>
        I love learning new things! I typically would take depth of knowledge over breadth.
        If I'm gonna take the time to learn something new, I wanna be an expert!
      </p>
      <p>
        Not a big fan of wasting time. If I find myself in a meeting I don't need to be in,
        or we're discussing something we already decided on, I'm the first person to cordially
        excuse myself. Development is too fun to waste time!
      </p>
      <p>
        I'm pretty opinionated when it comes to code. I like to challenge peoples ideas
        and hope they challenge mine. I like bringing other devs up to speed
        on a new product or technology and watch them shine.
      </p>
      <p>
        My most recent kick is explicit programming. I've had problems in longer living
        projects with implicit <i>magic</i> code that does things I don't always intend
        or remember. This largly includes dynamic module loading (i.e. `swaggerize-express`, `config`, etc)
        It's difficult to walk the line between DRY code and explicit code. I think some duplication
        is worth knowing how something works, especially long term.
      </p>
      <p>
        I value flexibility and a company that knows some of the best code is written
        in a 2am coffee fueled frenzy, not at <i>exactly</i> 9am.
      </p>
    </div>
    <div class="col-sm-12 col-md-6">
      <h3>As a person...</h3>
      <p>
        I'm a professional standup comedian on the weekends. On one occasion I got to merge my two
        professions and performed for Solution Stream (a software contracting company).
      </p>
      <p><b>I. LOVE. STRAWBERRIES.</b></p>
      <p>
        I'm 6'9" and I played basketball for the University of Utah. I also like doing musical theater.
      </p>
      <p>
        I've been programming since I was in the 7th grade. Starting with PHP in highschool,
        I won the state FBLA web development competition and got a free trip to compete nationally
        in Nashville, TN. I was immediately hired at RC Willey Home Furnishings where I was
        baptised in Java, Javascript and Database technologies.
      </p>
      <p>
        I'm fairly easy going, like to makes jokes around the office. I'd like to think I raise
        morale. Everyone seems to be smiling when the visit my desk, so either they're laughing with
        me or I'll cut myself!
      </p>
    </div>
  </div>
</div>
